body{
    background-color: whitesmoke;
}

.container{
    display:grid;
    gap:0;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    width: 250px;

    border: 2px solid black;

}

.grid-item{
    display: inline-block;
    height: 50px;
    width:  50px;
    border: 1px solid black;

}

.display{
    grid-column: 1/6;
    height: 50px;
}

.big-button{
    grid-column: 5/6;
    height: 100px;
    width:  50px;

   
}

#clr{
    grid-row: 2/4;
}

#enter{
    grid-row: 4/6;
}