body{
    background-color: e4efe7;
}

h1{
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    background-color: gray;
    border: 1px solid black;
    width: 154px;
    margin: auto;
}

.grid-item{
    
    height: 50px;
    width: 50px;
    background-color: beige;
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

}