<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>
  <body>
    <form action="/" method="post">
      <h1>New Entry</h1>
      <label for="contents">Message:</label> <br>
      <input type="text" name="contents" id="contents"> <br> <br>
      <label for="author">By:</label><br>
      <input type="text" name="author" id="author"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
