<div class="col-sm-2" id='sidebar-div'>
    <ul class='sidebar-nav'>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/catalog/games">Games</a>
    </li>
    <li>
      <a href="/catalog/systems">Systems</a>
    </li>
    <li>
      <a href="/catalog/cardPacks">Card Packs</a>
    </li>
    <li>
      <hr>
    </li>
    <li>
      <a href="#">Create new game</a>
    </li>
    <li>
      <a href="#">Create new system</a>
    </li>
    <li>
      <a href="#">Create new card pack</a>
    </li>

  </ul>
</div>